<a href="{{ if or (hasPrefix .Destination "http://") (hasPrefix .Destination "https://") }}{{ .Destination | safeURL }}{{ else }}/{{ .Destination | safeURL }}{{ end }}"  data-lightbox="image-1" >
    <img
        loading="lazy"
        src="{{ if or (hasPrefix .Destination "http://") (hasPrefix .Destination "https://") }}{{ .Destination | safeURL }}{{ else }}/{{ .Destination | safeURL }}{{ end }}"
        alt="{{ .Text }}"
        {{ with .Title}} title="{{ . }}" {{ end }}
        {{ if .Attributes }}style="{{- range $key, $value := .Attributes -}} {{ $key }}:{{ $value | safeCSS }}%; {{- end -}}"{{ end }}
    >
</a>